In [25]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.ensemble import RandomForestClassifier

In [13]:
url='https://drive.google.com/file/d/1TXr7b8FuZ4qb1fagnzXVwUYT9odrXk53/view?usp=drive_link'
file_id=url.split('/')[-2]
dwn_url='https://drive.google.com/uc?id=' + file_id
dataset = pd.read_csv(dwn_url)
dataset.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [16]:
dataset.columns

Index(['loan_id', 'no_of_dependents', 'education', 'self_employed',
       'income_annum', 'loan_amount', 'loan_term', 'cibil_score',
       'residential_assets_value', 'commercial_assets_value',
       'luxury_assets_value', 'bank_asset_value', 'loan_status'],
      dtype='object')

In [17]:
dataset.isnull().sum()

loan_id                     0
no_of_dependents            0
education                   0
self_employed               0
income_annum                0
loan_amount                 0
loan_term                   0
cibil_score                 0
residential_assets_value    0
commercial_assets_value     0
luxury_assets_value         0
bank_asset_value            0
loan_status                 0
dtype: int64

In [18]:
dataset.replace({'loan_status':{'Rejected':0,'Approved':1}},inplace=True)

In [19]:
dataset.replace({'loan_status':{'Rejected':0,'Approved':1},'self_employed':{'Yes':1,'No':0},'education':{'Graduate':1,'Not Graduate':0}},inplace=True)

In [20]:
dataset.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,1,0,9600000,29900000,12,778,2400000,17600000,22700000,8000000,1
1,2,0,0,1,4100000,12200000,8,417,2700000,2200000,8800000,3300000,0
2,3,3,1,0,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0
3,4,3,1,0,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0
4,5,5,0,1,9800000,24200000,20,382,12400000,8200000,29400000,5000000,0

In [21]:
X = dataset.drop(columns=['loan_id','loan_status'],axis=1)
Y = dataset['loan_status']

In [23]:
X_train, X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.25,stratify=Y,random_state=42)

In [29]:
best_model2 = RandomForestClassifier(
                                    max_depth=20, 
                                    min_samples_leaf=1, 
                                    min_samples_split=2, 
                                    n_estimators=100
                                    )
best_model2.fit(X_train,Y_train)
Y_pred_best_model2 = best_model2.predict(X_test)
accuracy = accuracy_score(Y_test,Y_pred_best_model2)
print("Accuracy score of Best_Model 2 Random Forest: ", accuracy*100)
score = cross_val_score(best_model2,X,Y,cv=4)
print("Cross Validation score of Best_Model 2 Random Forest: ",np.mean(score)*100)

Accuracy score of Best_Model 2 Random Forest:  98.22097378277154
Cross Validation score of Best_Model 2 Random Forest:  98.36034824089383

In [33]:
print(type(best_model2))

<class 'sklearn.ensemble._forest.RandomForestClassifier'>